---
title: Home
layout: home
---


<section id="tweet-container">
{% assign tweets = site.data.tweets  %}

<div id="tweets">
{% for tweet in tweets  %}
  <p class="tweet-text" id="{{tweet.slug}}">{{tweet.text}}<span class="htp">#howtopaint</span></p>
{% endfor  %}
    </div>

  <div id="controls">
    <i id="prev" class="fa fa-hand-o-left" ></i>
    <i id="next" class="fa fa-hand-o-right" ></i>
  </div>
</section>

{% for section in site.front-page  %}

<section id="{{section.title}}">
  <div class="container">
  {{ section.content | markdownify}}
  </div>
</section>

{% endfor %}
  
</section>
<!-- / ESSAY -->

