---
title: Home
layout: home
---


<section id="tweet-container">
{% assign tweets = site.data.tweets  %}

<div id="tweets">
{% for tweet in tweets  %}
  <p class="tweet-text" id="{{tweet.slug}}">{{tweet.text}}<span class="htp">#howtopaint</span></p>
{% endfor  %}
    </div>

  <div id="controls">
    <i id="prev" class="fa fa-hand-o-left" ></i>
    <i id="next" class="fa fa-hand-o-right" ></i>
  </div>
</section>

{% for section in site.front-page  %}

<section id="{{section.title}}">
  <div class="container">
  {{ section.content | markdownify}}
  </div>
</section>

{% endfor %}

<!-- ESSAY -->
<section id="essay">
  <div>
    <h1>What Kind of Work is Painting?</h1>

    <br>
    <br>
    <br>
    <br>
    <blockquote>Painting is not the only discipline to say, in one way or another, that the real work is beyond the craft of the work. If you&rsquo;re not a painter, but some of the tweets above rang true for the particular thing you are trying to do, then you&rsquo;re familiar with this kind of work. <a href="the-thing-i-am-trying-to-do.html">This essay is about what that work seems to be, what it is like to do it within a discipline, and how different fields share this particular method.</a></blockquote>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <i id="essay-arrow" class="fa fa-arrow-down" aria-hidden="true"></i> -->
    </div>

  <!-- essay-body -->
  
</section>
<!-- / ESSAY -->

