<div id="menu">
  <a href="/#tweets" id="tweet-link" class="menu-link" >Tweets</a>
  <a href="/#about" id="about-link" class="menu-link" >About</a>
  <a href="/#book" id="book-link" class="menu-link" >Book</a>
  <a href="/ltap" id="podcast-link" class="menu-link active" >Podcast</a>
  <a href="/the-thing-i-am-trying-to-do" id="essay-link" class="menu-link">Essay</a>
  <a href="/#classes" id="class-link" class="menu-link" style="display:none;">Classes</a>
</div>
  <div id="hamburger">
  _____
  _____
  _____
</div>